<h3><%= site_abbreviation %> Reservation Guarantee</h3>
<p>
Reservations secured via <%= site_abbreviation %> are also now backed up with
our Reservations Guarantee. If your confirmed reservation at the hotel (for
which you have been issued a voucher) is not available or cannot be honored
when you arrive to check-in and no other room types that you had booked are
available, immediately contact our 24-hour <%= site_abbreviation %> Support
Center at the contact number(s) listed on your hotel voucher.

Our <%= site_abbreviation %> Customer Support Specialists will arrange a room
at another convenient and comparable hotel. <%= site_abbreviation %> will
cover your communication costs to our office, transfer fees and offer you a
10% discount on your reservation total amount.
</p>

<p>
Should you not accept the alternative hotel, <%= site_abbreviation %> will
refund to your account the reservation full amount plus an additional night
(equivalent to the actual cost of a 1 night stay based on the original
reservation, including any tax and service charges).
</p>
