<!-- Section Title-->    
<div class="section-title-01">
  <!-- Parallax Background -->
  <div class="bg_parallax image_05_parallax"></div>
  <!-- Parallax Background -->

  <!-- Content Parallax-->
  <div class="opacy_bg_02">
    <div class="container">
      <h1>Account Activation</h1>
      <div class="crumbs">
        <ul>
          <li>Welcome to <%= site_title %></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Content Parallax--> 
</div>
<!-- End Section Title-->

<!--Content Central -->
<div class="content-central">
  <!-- Shadow Semiboxed -->
  <div class="semiboxshadow text-center">
    <%= image_tag(
      "impact_travel/result-bg.png", class: "img-responsive"
    ) %>
  </div>
  <!-- End Shadow Semiboxed -->

  <!-- End content info - page Fill with -->
  <div class="content_info">
    <div class="paddings-mini">
      <div class="container">
        <div class="row">

          <div class="col-md-8">
            <h3>Subscriber details</h3>
            <div class="form_holder">
              <%= simple_form_for @subscriber, url: account_activation_path,
                html: {class: "travelia_form"} do |f| %>
                <%= f.input :first_name %>
                <%= f.input :middle_name %>
                <%= f.input :last_name %>
                <%= f.input :spouse_name %>
                <%= f.input(
                  :sex,
                  as: :radio_buttons,
                  collection: [["Male", "male"], ["Female", "female"]],
                ) %>
                <%= f.input :email %>
                <%= f.input :phone %>
                <%= f.input :mobile %>
                <%= f.input :office_phone %>
                <%= f.input :address %>
                <%= f.input :city %>
                <%= f.input :state, label: "Province" %>
                <%= f.input :zip, label: "Post Code" %>
                <%= f.input :country, input_html: {class: "form-control"} %>
                <%= f.input :username %>
                <%= f.input :password %>
                <%= f.input :password_confirmation %>
                <%= f.button :submit, "Activate Now", class: "btn btn-primary" %>
              <% end %>
            </div>

            <div id="result"></div>  
          </div>

          <!-- Sidebars -->
          <div class="col-md-4">
            <aside>
              <h4> &nbsp; </h4>

              <address>
                <strong>Need help ?</strong><br>
                <i class="fa fa-phone"></i>
                <%= link_to(site_contact, "tel:#{site_contact}") %><br />

                <i class="fa fa-envelope"></i>
                <%= link_to(support_email, "mailto:#{support_email}") %>

              </address>
          </div>
          <!-- End Sidebars -->

        </div>
      </div>
    </div>
  </div>
  <!-- End content info - page Fill with  --> 
</div>
<!-- End Content Central -->
