<h3><%= I18n.t("impact_travel.session.form_title") %></h3>
<% flash.each do |key, msg| %>
  <p class="alert alert-info"><%= msg %></p>
<% end %>

<%= simple_form_for :login, url: session_path do |form| %>
  <%= form.input :name, label: false, placeholder: "Email or Username" %>
  <%= form.input :password, label: false, placeholder: "Password" %>
  <%= form.button(
    :submit,
    I18n.t("impact_travel.session.submit_button"),
    class: "btn btn-primary animated",
  ) %>

  <p class="custom_link">
  <%= link_to(
    I18n.t("impact_travel.session.forgot_link"), new_password_reset_path
  ) %>
  </p>
<% end %>
</div>
