<h3><%= site_abbreviation %> Refund Policy</h3>
<p>To request a refund, please contact us at any of the following:</p>
<ul>
  <li>On our website <%= link_to(site_secure_url, site_secure_url)  %></a></li>
  <li>
    By e-mail to
    <a href="mailto:<%= site_info_email %>"><%= site_info_email %></a>
  </li>
  <li><%= site_abbreviation %> is committed to providing you with a simple and efficient refund process. Please note that shortening your stay during the high season, periods of high occupancy, during trade fairs and conventions, or failure to cancel your reservation prior to the due date noted on your confirmation may result in a penalty charge being imposed by the hotel. If a penalty charge is incurred, this will be deducted from the amount refunded.</li>

  <li>Your confirmation email will specify the exact cancellation due date which is the deadline you must cancel by in order to avoid any cancellation fee. Generally, the cancellation due date is 14 days prior to arrival at the hotel. The penalty charge is usually one-night stay, unless specified on the confirmation email.</li>

  <li>Unless specifically mentioned otherwise in the cancellation policy, cancellation requests submitted via any of the means above, prior to the due date noted on your confirmation, will normally be refunded 100% of the cost of their stay (<%= site_abbreviation %> does not charge a processing fee for cancellations) within 10 days of receiving the request. Any cancellation request submitted after the due date noted on your confirmation will also be processed within 10 days, and any applicable penalty charge will be deducted from the amount refunded.</li>

  <li>Shortened stays, in most cases, will be refunded within 10 days, net of any penalty charge applicable, and if you notify us (by any of the means above) prior to shortening your stay, we can expedite the refund process. If however, you notify us after checking out, some shortened stay refunds may take longer because some hotels can be slow to confirm the exact dates of your stay. If your refund is likely to take longer than 10 days to process, we will notify you via email upon receipt of your request.</li>
</ul>

<p>
<strong>Please Note:</strong>
Many hotels will apply a penalty charge, often equal to night's stay, to a shortened stay at late notice. Please check the hotel policies carefully.
</p>"
