<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <title><%= site_title %></title>
    <meta name="keywords" content="<%= site_keywords %>" />
    <meta name="description" content="<%= site_description %>">
    <meta name="author" content="<%= site_author %>">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag("favicon.png", rel: "icon", type: "image/png") %>
    <%= stylesheet_link_tag "impact_travel/application" %>
    <%= stylesheet_link_tag "impact_travel/login" %>

    <% unless site_stylesheet.nil? %>
      <%= stylesheet_link_tag(site_stylesheet) %>
    <% end %>
  </head>

  <body>
    <div class='form animated flipInX single_page_form'>
      <%= yield %>
    </div>
  </body>
</html>
