<h3><%= site_abbreviation %> Best Price Guarantee</h3>
<p><%= site_abbreviation %> offers the following "Best Price Guarantee". If you find a publicly available rate less expensive than what <%= site_abbreviation %> has quoted you, that is viewable and bookable on another website for the same trip, room type and dates etc, we will refund your trip in full upon your return.</p>

<h4>Submitting a Claim</h4>
<p>Please collect the following information before completing the Best Price Guarantee Claim Form
<ul>
  <li>Your <%= site_abbreviation %> Booking ID</li>
  <li>The address of the website where you found the better rate.</li>
  <li>The name of the hotel, city and country.</li>
  <li>You can attach up to three screenshots of the competitor site in which the Room availability, Room Type, Promotion type and Room Rate for the required dates of your stay are clearly indicated.</li>
</ul>

PLEASE NOTE: You don’t need to make a booking on the competitor website, just show us the comparison
</p>


<h4>Terms and Conditions</h4>
<ol>
  <li>Our "Best Price Guarantee" applies to confirmed bookings only. You must provide us with your <%= site_abbreviation %> Booking ID in order to make a claim.</li>
  <li>
    The following conditions must apply:
    <ul>
      <li>Same hotel</li>
      <li>Same period of stay</li>
      <li>Same Room/Bed type</li>
      <li>Same Advance purchase requirements, prepayment and deposit requirements (if any)</li>
      <li>Same Cancellation and Amendment policies</li>
      <li>The room must be available for instant confirmation at the time our agents check availability</li>
    </ul>
  </li>
  <li>The “Best Price Guarantee” does not apply to unpublished rates, such as:
    <ul>
      <li>Private rates</li>
      <li>Packaged or promotional rates</li>
      <li>Hotel rooms sold as part of a travel package</li>
      <li>Rates that are not available to the general public, which include:
        <ul>
          <li>Corporate discount rates</li>
          <li>Group or meeting rates</li>
          <li>Any rates requiring membership, (i.e. AAA or AARP rates)</li>
          <li>Loyalty programs</li>
          <li>Any organization with rates intended for a specific group of individuals and are not meant for the general public</li>
        </ul>
      </li>
    </ul>
  </li>
  <li><%= site_abbreviation %> has the right and discretion to determine the validity of any claim, including but not limited to, determining that it is for the same hotel, room type, dates, and that it meets all Terms, Conditions, and Claims processing requirements.</li>
  <li>Our "Best Price Guarantee" cannot be combined with other offers or promotions.</li>
  <li><%= site_abbreviation %> reserves the right to amend, revise, supplement, suspend or discontinue the "Best Price Guarantee" at anytime.</li>
</ol>

<p>Any questions regarding claims should be directed to our Customer Service team.</p>
