<footer id="footer" class="footer-v3">
  <!-- footer Down-->
  <div class="footer-down">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>
          &copy; 2016 <%= site_title %>. All Rights Reserved.
          <%= link_to "Terms of Use", "#" %> and
          <%= link_to "Policies", policies_path %>.
          </p>
        </div>
        <div class="col-md-4">
          <!-- Nav Footer-->
          <div class="cc-btn">
            <div id="language-drop" class="pull-right dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                English
                <span class="caret"></span>
              </button>
            </div>
            &nbsp;
            <div id="currency-drop" class="pull-right dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                USD
                <span class="caret"></span>
              </button>
            </div>
          </div>
          <ul class="nav-footer hide_it">
            <li><%= link_to "About Us", "#" %></li>
            <li><%= link_to "Contact Us", "#" %></li>
            <li><%= link_to "Terms", "#" %></li>
            <li><%= link_to "Privacy", "#"  %></li>
          </ul>
          <!-- End Nav Footer-->
        </div>
      </div>
    </div>
  </div>
  <div id="currency" style="display: none;">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="un-styled">
            <!-- <li class="flag au">Australia</li> -->
          </ul>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </div>

  <div id="language" style="display: none;">
    <div class="container">
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </div>
</footer>
