<header id="header" class="header-v1">
  <nav class="flat-mega-menu">
    <label for="mobile-button"><i class="fa fa-bars"></i></label>
    <input id="mobile-button" type="checkbox">

    <ul class="collapse">
      <li class="title">
        <%= link_to(image_tag(site_logo, class: "navbar_logo"), home_path) %>
        <%= link_to(
            image_tag(site_sticky_logo, class: "navbar_logo logo_sticky"),
            home_path
          ) %>
      </li>

    <%= render "navigation" %>

    <% if logged_in? %>
      <li class="login-form">
        <%= link_to(
          font_awesome("fa-sign-out"),
          session_path(Time.now.to_i),
          method: :delete,
          id: "logout"
        ) %>
      </li>

      <li class="search-bar">
        <%= link_to(
          font_awesome("fa-user"),
          account_path,
          title: "My Account",
          id: "my_account"
        ) %>
      </li>
    <% else %>
      <li class="search-bar">
        <%= link_to(
          font_awesome("fa-sign-in"), new_session_path, title: "Login"
        ) %>
      </li>
    <% end %>
    </ul>
  </nav>
</header>
