<li><%= link_to "HOTELS", hotels_path %></li>
<li><%= link_to "SHOPPING", "#", target: "_blank" %></li>
<li><%= link_to "CONDOS", condos_path  %></li>
<li><%= link_to "PACKAGES", packages_path %></li>
<li>
  <%= link_to "OTHER SERVICES", "javascript:void();" %>
  <ul class="drop-down one-column hover-fade">
    <li><%= link_to "Cruise", cruises_path %></li>
    <li><%= link_to "Tours", tours_path  %></li>
    <li><%= link_to "Cars", cars_path %></li>
  </ul>
</li>

<li><%= link_to "ABOUT", "#" %></li>
<!-- <li> <%= link_to "CONTACT", "#" %></li> -->

<li class="social-bar"> <a href="#">FOLLOW US</a>
  <ul class="drop-down hover-zoom">
    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i> </a> </li>
    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i> </a> </li>
    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i> </a> </li>
  </ul>
</li>
