<li><%= link_to "HOTELS", hotels_path %></li>
<li><%= link_to "SHOPPING", shopping_path, target: "_blank" %></li>
<li><%= link_to "CONDOS", condos_path  %></li>
<li><%= link_to "PACKAGES", packages_path %></li>
<li>
  <%= link_to "OTHER SERVICES", "javascript:void();" %>
  <ul class="drop-down one-column hover-fade">
    <li><%= link_to "Cruise", cruises_path %></li>
    <li><%= link_to "Tours", tours_path  %></li>
    <li><%= link_to "Cars", cars_path %></li>
  </ul>
</li>

<li><%= link_to "ABOUT", "#" %></li>
<!-- <li> <%= link_to "CONTACT", "#" %></li> -->

<li class="social-bar"> <a href="#">FOLLOW US</a>
  <ul class="drop-down hover-zoom">
    <% if social_links.twitter %>
      <li>
        <a href="<%= social_links.twitter %>" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
    <% end %>

    <% if social_links.instagram %>
      <li>
        <a href="<%= social_links.instagram %>" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    <% end %>

    <% if social_links.facebook %>
      <li>
        <a href="<%= social_links.facebook %>" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    <% end %>
  </ul>
</li>
