<aside>
  <h4>My Account</h4>


  <address>
    <i class="fa fa-user"></i>
    <%= link_to "Profile", account_path %><br />

    <i class="fa fa-suitcase"></i>
    <%= link_to "Bookings", bookings_path %><br />

    <!-- <i class="fa fa-rocket"></i>
    <%= link_to "Subscription", "#" %><br /> -->

    <i class="fa fa-users"></i>
    <%= link_to "Friends & Family", supplementaries_path %><br />

    <i class="fa fa-key"></i>
    <%= link_to "Change password", edit_account_password_path %><br />

    <i class="fa fa-question-circle"></i>
    <%= link_to "Need help?", contact_path %>
  </address>
</aside>

