<h3><%= site_abbreviation %> Terms and Policies</h3>

<ul>
  <li><%= link_to "Best Price Guarantee", price_guarantee_path %></li>
  <li><%= link_to "Reservation Guarantee", reservation_guarantee_path %></li>
  <li><%= link_to "Cancellation Policy", cancellation_path %></li>
  <li><%= link_to "Privacy Policy", privacy_path %></li>
  <li><%=  link_to "Refund Policy", refund_path %></li>
  <li><%= link_to "Terms of Use", terms_path %></li>
</ul>
