<section class="tp-banner-container">

  <!-- sliders -->
  <%= render "slider"  %>

  <div class="filter-title">
    <div class="title-header">
      <h1><%= I18n.t("impact_travel.home.hero_title") %></h1>
      <p class="lead"><%= I18n.t("impact_travel.home.hero_html").html_safe %></p>
    </div>

    <div class="filter-header">
      <%= simple_form_for @search do |f| %>
        <%= f.input :location_id, as: :hidden %>
        <%= f.input :destination, placeholder: "Where do you want to go?",
          label: false, input_html: {class: "input-large"} %>

        <%= f.input :check_in, placeholder: "Check In", label: false,
          input_html: {class: "date-input"} %>

        <%= f.input :check_out, placeholder: "Check Out", label: false,
          input_html: {class: "date-input"} %>

        <%= f.submit "Search" %>
      <% end %>
    </div>
  </div>
</section>

<section class="content-central">
  <div class="semiboxshadow text-center">
    <%= image_tag("impact_travel/shp.png", class: "img-responsive")%>
  </div>

  <div class="content_info">
    <div class="content_resalt">
      <div class="container">
        <div class="row">
          <div class="col-md-4 ">
            <div class="services-lines-info">
              <h2><%= I18n.t("impact_travel.home.welcome_title") %></h2>
              <p class="lead">
                <%= I18n.t("impact_travel.home.welcome_subtitle") %>
                <span class="line"></span>
              </p>
              <p><%= I18n.t("impact_travel.home.welcome_html").html_safe %></p>
            </div>
          </div>

          <div class="col-md-8">
            <ul class="services-lines">
              <li>
                <%= link_to condos_path do %>
                  <div class="item-service-line">
                    <i class="fa fa-home"></i>
                    <h5>Condos</h5>
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to hotels_path do %>
                  <div class="item-service-line">
                    <i class="fa fa-bed"></i>
                    <h5>Hotels</h5>
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to cruises_path do %>
                  <div class="item-service-line">
                    <i class="fa fa-ship"></i>
                    <h5>Cruises</h5>
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to("tel:#{site_contact&.gsub(" ", "")}") do %>
                  <div class="item-service-line">
                    <i class="fa fa-phone"></i>
                    <h5>Concierge</h5>
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to cars_path do %>
                  <div class="item-service-line">
                    <i class="fa fa-car"></i>
                    <h5>Car Hire</h5>
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to tours_path do %>
                  <div class="item-service-line">
                    <i class="fa fa-paper-plane"></i>
                    <h5>Tours</h5>
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to packages_path do %>
                  <div class="item-service-line">
                    <i class="fa fa-bank"></i>
                    <h5>All-inclusive</h5>
                  </div>
                <% end %>
              </li>
              <li>
                <%= link_to wellnesses_path do %>
                  <div class="item-service-line">
                    <i class="fa fa-heartbeat"></i>
                    <h5>Wellness</h5>
                  </div>
                <% end %>
              </li>
            </ul>
          </div> 
        </div>
      </div>
    </div>
  </div>

  <%= render "contact_info" %>

  <div class="content_info">
    <div class="container">
      <div class="row">
        <div class="titles">
          <h2>Why <span>Book</span> with <%= site_abbreviation %><span>?</span></h2> <i class="fa fa-plane"></i> <hr class="tall"> </div>
      </div>
    </div>

    <div class="container">
      <div class="row padding-bottom">
        <div class="col-md-4">
          <div class="item-feature text-center">
            <div class="head-feature">
              <span>thousands of</span>
              <br>
              <div class="title-feature">
                <i class="fa fa-sun-o left-icon"></i>
                <i class="fa fa-umbrella right-icon"></i>
                hotels
              </div><span> &</span>
              <br>
              <span>resorts</span>
            </div>
            <div class="info-feature">
              <p>Be it major cities or the smallest villages, we can find inventory for you.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div class="item-feature text-center">
            <div class="head-feature">
              <span>all major</span>
              <br>
              <div class="title-feature">
                <i class="fa fa-thumbs-o-up left-icon"></i>
                <i class="fa fa-heart right-icon"></i>
                cruise
              </div>
              <br>
              <span>lines</span>
            </div>
            <div class="info-feature">
              <p>Pick a cruise online, ask our agents to book it with additional discounts.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div class="item-feature text-center">
            <div class="head-feature">
              <span>the</span>
              <br>
              <div class="title-feature">
                <i class="fa fa-check right-icon"></i>
                lowest price
              </div>
              <br>
              <span>guaranteed</span>
            </div>
            <div class="info-feature">
              <p>Our guarantee allows you to focus on where to go, not how much is costs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- testimonials -->
  <%= render "testimonials" %>
</section>
