<h3><%= site_abbreviation %> Privacy Policy</h3>
<h4>Introduction</h4>
<p>Last Updated on January 01, 2017</p>
<p><%= site_domain %> is owned and operated by <%= site_title %> ("<%= site_abbreviation %>" or "we"), a company registered in Canada. The following Privacy Policy describes how we as a data controller collect, use, disclose, and otherwise process personally identifiable information that we collect about individuals ("Personal Data") in connection with the services available from <%= site_abbreviation %> through the website located at <%= site_url %>("Site"). References to the Site are deemed to include derivatives thereof, including but not necessarily limited to mobile websites and applications. By visiting the Site, you are consenting to the collection, use, disclosure and processing of your Personal Data as described in this Privacy Policy.</p>

<p>On occasion, <%= site_abbreviation %> may revise this Privacy Policy to reflect changes in the law, our Personal Data collection and use practices, the features of our Site, or advances in technology. If we make revisions that change the way we collect or use your Personal Data, those changes will be posted in this Privacy Policy and the effective date will be noted at the beginning of this Privacy Policy. Therefore, you should review this Privacy Policy periodically so that you are up to date on our most current policies and practices. <%= site_abbreviation %> will also prominently post such material changes prior to implementing the change. If you do not agree with any changes or modifications to the Privacy Policy, please do not continue using the Site. You will be deemed to have consented to any modification of the Privacy Policy when you use the Site after the effective date of the modification.</p>

<h4>Information We Collect</h4>
<p>We collect Personal Data about you that you provide to us when using the Site. Personal Data may include your name, address, phone number, credit card details, e-mail address, hotel name, hotel location and/or length of stay. We also collect non-personally identifiable information, which may be linked to your Personal Data, including your log-in name, IP address, geographic data, operating system type, nationality and password, and search preferences related to specific searches, as well as other generic Internet usage related data.</p>

<h4>Protecting Your Personal Data</h4>
<p>To prevent unauthorized access, we maintain reasonable physical, electronic and organizational procedures to protect Personal Data against accidental or unlawful destruction or accidental loss, alteration, or unauthorized disclosure or access. To protect credit card transactions, <%= site_domain %> currently uses Secure Socket Layer technology to encrypt credit card information during transit.</p>

<h4>How We Use the Information We Collect – Credit Card on File</h4>
<p>We use Personal Data and other information collected through the Site (a) to register you with the Site and create your user account, (b) to provide you with the requested services (mainly to process and confirm your reservation with the accommodation) after verifying your credentials, (c) to provide you with information about our services on the Site or on other websites and to communicate with you to the extent necessary to provide such requested services, (d) to build features that will make the services available on the Site easier to use and (e) for an improved user experience and general optimization purposes or (f) to contact you in case there is any issue with your booking. This includes faster purchase requests, better customer support and timely notice of new services and special offers. From time to time, <%= site_abbreviation %> may contact you to request feedback on your experience in using the Site, to assist us in improving the Site, to send newsletters or to offer special savings or promotions to you as a Site user, where you have indicated your consent to receiving such communications. If you would prefer not to receive notices of special savings or promotions or related marketing messages, you may simply opt out (“unsubscribe”) from receiving those by replying to <%= site_abbreviation %> using the hyperlink provided in these notices at any time. The confirmation emails and text messages sent after your booking and the guest review emails sent after your departure respectively are not marketing messages as these are part of your accommodation reservation process. These allow you to check in at and rate the property after your stay if you wish to do so. You will continue to receive them, even if you have opted out of our marketing messages. The guest review is completely optional, but will help other customers make an informed decision. When logging in, you will have the ability to save credit card details to your personal account for faster future bookings and payments. Your card details are always secure using strong encryption and you can always log in to your personal account to delete, edit or add certain credit card details. For security reasons, the number cannot be edited (but the card details can be deleted). When viewing card details, only the last 4 digits of the number will be visible.</p>

<h4>Sharing Your Personal Data</h4>
<p><%= site_abbreviation %> may share your Personal Data with suppliers such as accommodation properties and other third parties we appoint to perform services on our behalf, such as web hosting, data analysis, marketing (also on websites of such third parties), customer care, credit card and payment services and related services. All such third parties will be under an obligation to maintain the security and confidentiality of the Personal Data, and to process the Personal Data only in accordance with our instructions.</p>

<p>In some cases, <%= site_abbreviation %> may require that you transact directly with a third party to obtain services, or when you use the Site to reserve an accommodation room or obtain another product or service, we may provide your Personal Data to that accommodation property or other involved third party.</p>

<p>Save for disclosures mentioned in this Privacy Policy or as required or permitted by law in any relevant jurisdiction as mentioned below and the disclosure of your Personal Data and information required for completing your booking with the relevant hotel of your choice and the sharing of certain Personal Data with selected partners where relevant (your details will be used for reporting and analysis purposes only), we will not disclose your Personal Data to third parties without your consent. However, we reserve the right to disclose your Personal Data to our affiliated (group) companies (in and outside your home country), including our affiliated (group) companies' employees and our trusted agents and representatives who have access to this information with our permission and who need to know or have access to this information to perform the service requested by you (including customer services) and internal (audit/compliance) investigations.</p>

<p><%= site_abbreviation %> may, in compliance with applicable law, disclose Personal Data to protect ourselves against liability, to respond to subpoenas, judicial processes, legitimate requests, warrants or equivalent by law enforcement officials or authorities, to investigate fraud or other wrongdoing or as otherwise required or necessary in order to comply with applicable law, protect our legitimate interests or to the purchasers in connection with any sale, assignment, or other transfer of all or a part of our business or company. We may also, in compliance with applicable law, disclose Personal Data to enforce or apply the terms and conditions applicable to our products or to protect the rights, property or safety of <%= site_abbreviation %>, our users or others.</p>

<p>In the situations described above, the recipient of the Personal Data may be located in a jurisdiction that may have different standards of data protection compared to the laws in your home jurisdiction.</p>

<h4>Our Policy Concerning Cookies and Page Tags</h4>
<p>By visiting our Site, you consent to the usage of cookies and tags as described below. Our Site uses session and persistent cookies as well as page tags to collect and store certain information about you. A cookie is a small piece of data that is sent to your computer from the Site and stored on your computer’s hard drive. A page tag is a piece of code which reads and writes cookie data. Both cookies or page tags may be from <%= site_abbreviation %> and/or third party vendors we have chosen to work with. Session cookies disappear from your computer when you close the browser. Persistent cookies remain on your computer after the browser has been closed, but can be deleted at any time through your browser settings. The use of these cookies and page tags may vary, and are described in the appropriate sections below.</p>

<h5>Opting Out</h5>
<p>If you want to prevent your browser from accepting cookies, if you want to be informed whenever a cookie is stored on your computer or if you want to delete cookies from your computer, please make the necessary changes in your Internet browser settings, typically under the sections “Help” or “Internet Options”. If you disable or delete cookies in your Internet browser settings, you might not be able to access or use important functions or features of this Site, and you will be required to re-enter your log-in details. Please also note that opting out of a third party cookie (see below) does not mean that you will no longer receive or be subject to online advertising or marketing analysis. It means that the network from which you opted out will no longer deliver ads tailored to your web preferences and usage patterns. Please also note that if you clear all cookies on your browser, or use a different browser or computer, you will need to complete the opt-out procedure again</p>

<h5>Informational and Opt Out Tools</h5>
<p>If you would like more information about the information collection practices of third-party advertising companies and your choices about not having this information used by these companies, or you would like to opt out of online preference marketing, you have the following opt-out options:<br />
<a href="http://www.networkadvertising.org/consumer/opt_out.asp?asq=v0rS0a1OqoRQ7bXy1Mh94jUYHg5orVgCTTHHi8DCrl0JBOMa4DHCuBUZFRvpIiHV" target='_blank'>http://www.networkadvertising.org/consumer/opt_out.asp</a><br />
<a href='http://www.vizury.com/website/optout.html?asq=v0rS0a1OqoRQ7bXy1Mh94jUYHg5orVgCTTHHi8DCrl0JBOMa4DHCuBUZFRvpIiHV' target='_blank'>http://www.vizury.com/website/optout.html</a><br /><br />
And with regard to our mobile apps, you can use the following opt-out options:<br />

<a href='www.google.com/ads/preferences/html/intl/en/mobile-about.html?asq=v0rS0a1OqoRQ7bXy1Mh94jUYHg5orVgCTTHHi8DCrl0JBOMa4DHCuBUZFRvpIiHV' target='_blank'>http://www.google.com/ads/preferences/html/intl/en/mobile-about.html</a><br >
<a href='https://ad-x.co.uk/dont_track.php' target='_blank'>https://ad-x.co.uk/dont_track.php</a><br />
<a href='http://www.appsflyer.com/opt-out?asq=v0rS0a1OqoRQ7bXy1Mh94jUYHg5orVgCTTHHi8DCrl0JBOMa4DHCuBUZFRvpIiHV' target='_blank'>http://www.appsflyer.com/opt-out</a><br />
<a href='' target='_blank'></a><br />

To opt out of analytics programs, you can use the following tools:<br />
<a href='https://tools.google.com/dlpage/gaoptout?hl=en' target='_blank'>https://tools.google.com/dlpage/gaoptout?hl=en</a><br />
<a href='http://www.microsoft.com/privacystatement/en-us/bing/default.aspx?asq=v0rS0a1OqoRQ7bXy1Mh94jUYHg5orVgCTTHHi8DCrl0JBOMa4DHCuBUZFRvpIiHV' target='_blank'>http://www.microsoft.com/privacystatement/en-us/bing/default.aspx</a><br />
<a href='https://help.yahoo.com/kb/SLN4525.html' target='_blank'>https://help.yahoo.com/kb/SLN4525.html</a><br />
<a href='http://help.yahoo.co.jp/common/sys/sys-26.html?asq=v0rS0a1OqoRQ7bXy1Mh94jUYHg5orVgCTTHHi8DCrl0JBOMa4DHCuBUZFRvpIiHV' target='_blank'>http://help.yahoo.co.jp/common/sys/sys-26.html</a><br />
<a href='http://www.baidu.com/duty/safe_control.html?asq=v0rS0a1OqoRQ7bXy1Mh94jUYHg5orVgCTTHHi8DCrl0JBOMa4DHCuBUZFRvpIiHV' target='_blank'>http://www.baidu.com/duty/safe_control.html</a><br /><br />

<%= site_abbreviation %> may add other relevant links from time to time to support your privacy rights.
</p>

<h4>Cookie, Page Tag and Data Use</h4>
<h5><%= site_abbreviation %> Cookies</h5>
<p><%= site_abbreviation %> uses a session cookie to keep you logged in throughout your visit to the Site.<br />
<%= site_abbreviation %> uses persistent cookies to "personalize" the Site for each user by remembering information about the user's visit to and activities on the Site, e.g., the language you selected, your log-in details so that you do not need to re-enter them at your next visit to the Site.
</p>

<p><%= site_abbreviation %> also uses persistent cookies or page tags to analyze your surfing behavior and your visit to the Site enabling us to improve the Site and our services and to tailor our advertising (via email, on our Site, and on other websites) according to the interests of our users. Such cookies and page tags gather information about the pages you visited on the Site and the searches you performed.</p>

<h5>Website analytics</h5>
<p>Third party companies may use persistent cookies to analyze your surfing behavior on and your visit to this Site as well as other web sites enabling us to improve the Site and our services. Website analytics platforms may be used to collect unidentifiable information for reports such as impression reporting, demographic reporting and interest reporting. To opt out of collection of information by third parties for analytic purposes, please click on one or more of the third party links in the above “Opt Out Tools” section.</p>

<h5>Third Party Cookies and Page Tags</h5>
<p>Our third party advertising companies may place cookies or page tags on some of the pages you visit on the Site. These cookies or page tags are designed to collect non-personally identifiable information in order to analyze your interests and searches when visiting our Site and to serve you advertisements specifically tailored to your interests and searches when you are visiting our Site or other websites or when using mobile applications. The non-personally identifiable information collected through cookies and page tags may be shared with other third parties for purpose of managing and targeting advertisements and for market research analysis. In addition, we may share one-way hashed (undecipherable) data with third party vendors using advertisement targeting products. Such third party vendors typically use hashed device identifiers to serve custom ads based on a user's prior visits to the Site. As a consequence, third party vendors may show our ads on other websites or mobile apps.</p>

<h5>Advertising</h5>
<p><%= site_abbreviation %> may use a combination of the above cookies and page tags to tailor your experience with our Site, our mobile application and our ads to your preferences. We use display and search remarketing to tailor ad content for a better experience.<br />

Where other advertising may not require the use of cookies or page tags, third party data is used to determine when a <%= site_abbreviation %> ad will be shown.
</p>

<p><%= site_abbreviation %> takes reasonable efforts to not collect, and to prevent the use of, personally identifiable information in third party advertising solutions, unless you have authorized this. To opt out of collection of information by third parties for advertising purposes, please click on one or more of the third party links in the above “Opt Out Tools” section.</p>

<h5>Advertising and content on other websites</h5>
<p><%= site_abbreviation %> uses 3rd party tools to distribute ads on a variety of websites. <%= site_abbreviation %> neither supports nor endorses the goals, causes or statements of the websites which display our advertisements.</p>

<h4>How You Can Access or Change Your Personally Identifiable Information</h4>
<p>If you wish to update any Personal Data you have previously provided, or to exercise any right of access, correction, rectification, deletion, or opposition to the processing of your Personal Data that you may have under applicable law, please contact our Customer Service team. To protect your privacy and security, we will verify your identity before granting access or making changes to your Personal Data. Any request to access your Personal Data will be answered within a reasonable timeframe. You may also object to the processing of your Personal Data for purposes of advertising and market and opinion research. We reserve the right to charge a reasonable fee for such access in accordance with applicable laws.</p>

<p>If you wish to contact the <%= site_abbreviation %> Data Protection Officer or our customer service representatives about privacy issues via email, you may send an email to: <a href="mailto:info@<%= site_domain %>">info@<%= site_domain %></a> and put Privacy in the subject line.</p>

<h4>A Special Note About Minors</h4>
<p>Persons under the age of 18 are not eligible to use the accommodation reservation services on our Site. Minors can normally accompany their parent(s) or legal custodian(s) who have booked an accommodation, except where indicated otherwise in the accommodation property policies.</p>

<h4>Terms of Use</h4>
<p>Please consult the <%= site_abbreviation %> <a href="/terms">Terms of Use</a> for more details on using our Site. This Privacy Policy forms an integral part of our Terms of Use.</p>
